flows.json
[{"id":"af412224.e220a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"be5d2e47.88941","type":"mysql","z":"af412224.e220a8","mydb":"a53accd3.021f68","name":"MySQL","x":580,"y":80,"wires":[["7c333c67.c74b5c"]]},{"id":"e462a7b2.a0ff8","type":"inject","z":"af412224.e220a8","name":"SELECT","topic":"SELECT * FROM DHT11;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":80,"wires":[["be5d2e47.88941"]]},{"id":"8affed65.67dcf8","type":"mqtt in","z":"af412224.e220a8","name":"MQTT DHT11","topic":"IMH/","qos":"0","datatype":"auto","broker":"7835a681.4c5d","x":130,"y":160,"wires":[["7afdb45d.31c2bc"]]},{"id":"35cc889b.f19898","type":"debug","z":"af412224.e220a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"7770a4eb.c4a90c","type":"function","z":"af412224.e220a8","name":"Query","func":"var h = msg.payload[\"humidity\"];\nvar t = msg.payload[\"temperature\"];\nvar newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into DHT11 (humidity, temperature) values (\"+h+\", \"+t+\")\";\nreturn newMsg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["35cc889b.f19898","be5d2e47.88941"]]},{"id":"7afdb45d.31c2bc","type":"json","z":"af412224.e220a8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["7770a4eb.c4a90c"]]},{"id":"7c333c67.c74b5c","type":"debug","z":"af412224.e220a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":80,"wires":[]},{"id":"a53accd3.021f68","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"mysql","tz":"GMT-1"},{"id":"7835a681.4c5d","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.146","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]